:host ::ng-deep {

    & * {
        margin:0;
        padding:0;
        line-height: 20px;
        display: block;
    }

    .name-value__name, small {
        font-size: 14px;            
        color: #757575;
    }

    .name-value__value, span {
        font-size: 18px;
        color: #111;
    }
}