:host ::ng-deep {

    & * {
        margin:0;
        padding:0;
    }

    .name-value {

        &__name {

        }

        &__value {

        }
    }
}

:host(.--status) ::ng-deep {

    & * {
        margin:0;
        padding:0;
    }
    
    .name-value {

        &__name {

        }

        &__value {

        }
    }
}