<h1>Quinntyne Brown</h1>

<div>
    <app-name-value>    
        <small>First Name</small>
    
        <span>Quinntyne</span>
    </app-name-value>
    
    <app-name-value>    
        <small>Last Name</small>
    
        <span>Brown</span>
    </app-name-value>
    
    <app-name-value>    
        <small>Marital Status</small>
    
        <span>Yes</span>
    </app-name-value>
    
    <app-name-value>    
        <small>Children</small>
    
        <span>2</span>
    </app-name-value>
</div>

